<div class="grid">
    <div class="col-12">
        <div class="card flex justify-content-lefth">
            <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
        </div>
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Novo" style="width:160px" icon="pi pi-plus"
                            class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Deletar" style="width:160px" icon="pi pi-trash"
                            class="p-button-danger" (click)="deleteSelectedProducts()"
                            [disabled]="!selectedProdutos || !selectedProdutos.length"></button>
                    </div>
                </ng-template>
            </p-toolbar>
            <p-table #dt [value]="produtos!" responsiveLayout="scroll" [rows]="10"
            [rowsPerPageOptions]="[10,20,30]" 
            [paginator]="true" [showCurrentPageReport]="true" [lazy]="true" [totalRecords]="totalRecords" 
            (onLazyLoad)="page($event)"
                currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} registros"
                [(selection)]="selectedProdutos" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gerenciamento de Produtos</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input id="pesquisa" pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                                placeholder="Pesquisar..." class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="code">Código<p-sortIcon field="codigo"></p-sortIcon></th>
                        <th pSortableColumn="nome">Nome<p-sortIcon field="nome"></p-sortIcon></th>
                        <th pSortableColumn="modelo">Modelo<p-sortIcon field="modelo"></p-sortIcon></th>
                        <th pSortableColumn="valor">Preço<p-sortIcon field="valor"></p-sortIcon></th>
                        <th pSortableColumn="descricao">Descrição<p-sortIcon field="descricao"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-produto>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="produto"></p-tableCheckbox>
                        </td>
                        <td style="width:10%; min-width:8rem;"><span class="p-column-title">Codigo</span>
                            {{produto.codigo || produto.id}}
                        </td>
                        <td style="width:18%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{produto.nome}}
                        </td>
                        <td style="width:18%; min-width:10rem;">
                            <span class="p-column-title">Modelo</span>
                            {{produto.modelo}}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Preço</span>
                            {{"R$" + produto.valor}}
                        </td>
                        <td style="width:32%; min-width:10rem;">
                            <span class="p-column-title">Descricao</span>
                            {{produto.descricao}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editarProduto(produto)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                    (click)="deleteProduto(produto)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <p-dialog [(visible)]="produtoDialog" [style]="{width: '800px'}" header="{{titulo}}" [modal]="true"
                class="p-fluid">
                <ng-template pTemplate="content">
                    <form [formGroup]="formGroup">
                        <div class="formgrid grid">
                            <div class="field col">
                                <span class="p-float-label">
                                    <input pInputText id="codigo"  formControlName="codigo" [(ngModel)]="produto.codigo"
                                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !produto.codigo}" />
                                    <label for="codigo">Código</label>
                                </span>
                                <small class="ng-dirty ng-invalid" *ngIf="submitted && !produto.codigo">Campo
                                    Obrigatório.</small>
                            </div>
                            <div class="field col">
                                <span class="p-float-label">
                                    <input pInputText id="nome" formControlName="nome" [(ngModel)]="produto.nome"
                                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !produto.nome}" />
                                    <label for="nome">Nome do produto</label>
                                </span>
                                <small class="ng-dirty ng-invalid" *ngIf="submitted && !produto.nome">Campo
                                    Obrigatório.</small>
                            </div>
                        </div>
                        <div class="formgrid grid">
                            <div class="field col" style="padding-top: 15px;">
                                <span class="p-float-label">
                                    <input pInputText id="modelo" formControlName="modelo" [(ngModel)]="produto.modelo"
                                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !produto.modelo}" />
                                    <label for="modelo">Modelo</label>
                                </span>
                                <small class="ng-dirty ng-invalid" *ngIf="submitted && !produto.modelo">Campo
                                    Obrigatório.</small>
                            </div>
                            <div class="field col" style="padding-top: 15px;">
                                <span class="p-float-label">
                                    <p-inputNumber formControlName="valor" [(ngModel)]="produto.valor" mode="currency" currency="BRL" locale="pt-BR"
                                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !produto.valor}"></p-inputNumber>
                                    <label>Preço</label>
                                </span>
                                <small class="ng-dirty ng-invalid" *ngIf="submitted && !produto.valor">Campo
                                    Obrigatório.</small>
                            </div>
                        </div>
                        <div class="formgrid grid">
                            <div class="field col" style="padding-top: 15px;">
                                <span class="p-float-label">
                                    <textarea id="descricao" formControlName="descricao" pInputTextarea [(ngModel)]="produto.descricao" rows="3"
                                        cols="20"></textarea>
                                    <label for="descricao">Descrição</label>
                                </span>
                            </div>
                        </div>
                    </form>
                </ng-template>

                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                        (click)="hideDialog()"></button>
                    <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text"
                        (click)="saveProduto()"></button>
                </ng-template>
            </p-dialog>

            <p-dialog [(visible)]="deleteProdutoDialog" header="Confirme" [modal]="true" [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span *ngIf="produto">Deseja deletar o produto: <b>{{produto.nome}}</b>?</span>
                </div>
                <ng-template pTemplate="footer">
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não"
                        (click)="deleteProdutoDialog = false"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim"
                        (click)="confirmDelete()"></button>
                </ng-template>
            </p-dialog>

            <p-dialog [(visible)]="deleteProdutosDialog" header="Confirme" [modal]="true" [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span>Deseja deletar todos os produtos selecionados?</span>
                </div>
                <ng-template pTemplate="footer">
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não"
                        (click)="deleteProdutosDialog = false"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim"
                        (click)="confirmDeleteSelected()"></button>
                </ng-template>
            </p-dialog>
        </div>
    </div>
</div>