.customer-badge,
.system-badge,
.order-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.system-badge {
    &.status-instock {
        background: #C8E6C9;
        color: #256029;
    }

    &.statusPagamento-pendente {
        background: #c9cc29;
        color: #070707;
    }

    &.statusPagamento-pago {
        background: #0c9e16;
        color: #070707;
    }

    &.statusOrderService-pendente {
        background: #c9cc29;
        color: #070707;
    }

    &.statusOrderService-iniciado {
        background: #1737c7;
        color: #070707;
    }

    &.statusOrderService-finalizado {
        background: #0c9e16;
        color: #070707;
    }

    &.statusOrderService-cancelado {
        background: #C63737;
        color: #070707;
    }

    &.status-lowstock {
        background: #FEEDAF;
        color: #8A5340;
    }
}

.customer-badge {
    &.status-qualified {
        background: #C8E6C9;
        color: #256029;
    }

    &.status-unqualified {
        background: #FFCDD2;
        color: #C63737;
    }

    &.status-negotiation {
        background: #FEEDAF;
        color: #8A5340;
    }

    &.status-new {
        background: #B3E5FC;
        color: #23547B;
    }

    &.status-renewal {
        background: #ECCFFF;
        color: #694382;
    }

    &.status-proposal {
        background: #FFD8B2;
        color: #805B36;
    }
}

.order-badge {
    &.order-delivered {
        background: #C8E6C9;
        color: #256029;
    }

    &.order-cancelled {
        background: #FFCDD2;
        color: #C63737;
    }

    &.order-pending {
        background: #FEEDAF;
        color: #8A5340;
    }

    &.order-returned {
        background: #ECCFFF;
        color: #694382;
    }
}
