<div class="grid">
    <div class="col-12">
        <div class="card flex justify-content-lefth">
            <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
        </div>
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Novo" style="width:160px" icon="pi pi-plus"
                            class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Deletar" style="width:160px" icon="pi pi-trash"
                            class="p-button-danger" (click)="deleteSelectedOrdemServicos()"
                            [disabled]="!selectedOrdemServicos || !selectedOrdemServicos.length"></button>
                    </div>
                </ng-template>
            </p-toolbar>
            <p-table #dt [value]="ordemServicos!" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} registros"
                [(selection)]="selectedOrdemServicos" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gerenciamento de Vendas</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                                placeholder="Pesquisar..." class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="code">Código identificador<p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="category">Tipo de servico<p-sortIcon field="category"></p-sortIcon></th>
                        <th pSortableColumn="price">Cliente<p-sortIcon field="price"></p-sortIcon></th>
                        <th pSortableColumn="name">Data orçamento<p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="statusServico">Data entrega<p-sortIcon field="statusServico"></p-sortIcon>
                        </th>
                        <th pSortableColumn="price">Status do serviço<p-sortIcon field="price"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-ordemServico>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="ordemServico"></p-tableCheckbox>
                        </td>
                        <td style="width:15%; min-width:10rem;"><span class="p-column-title">Código identificador</span>
                            {{ordemServico.id || ordemServico.codigo}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Tipo de servico</span>
                            {{ordemServico.tipoServico.tipo}}
                        </td>
                        <td style="width:17%; min-width:10rem;">
                            <span class="p-column-title">Cliente</span>
                            {{ordemServico.cliente.nome + " " + ordemServico.cliente.sobrenome}}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Data orçamento</span>
                            {{ordemServico.dataOrcamento}}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Data entrega</span>
                            {{ordemServico.dataEntrega}}
                        </td>
                        <td style="width:17%; min-width: 10rem;"><span class="p-column-title">Status do serviço</span>
                            <span
                                [class]="'system-badge statusOrderService-' + (ordemServico.status ? ordemServico.status.toLowerCase() : '')">{{ordemServico.status}}</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editOrdemServico(ordemServico)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                    (click)="deleteOrdemServico(ordemServico)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <p-dialog [(visible)]="ordemServicoDialog" [style]="{ width: '55vw', height: '710px' }" header="{{titulo}}"
                [draggable]="true" [resizable]="true" [modal]="true" class="p-fluid">
                <ng-template pTemplate="content">
                    <form [formGroup]="formGroup">
                        <div class="formgrid grid">
                            <div class="field col-6" style="padding-top: 15px;">
                                <span class="p-float-label">
                                    <p-autoComplete
                                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !ordemServico.servico}"
                                        formControlName="tipoServico" [suggestions]="filteredservicos"
                                        [(ngModel)]="ordemServico.servico" [dropdown]="true" inputId="tipoServicoId"
                                        (completeMethod)="filterServicos($event)" field="tipo"></p-autoComplete>
                                    <label for="tipoServicoId">Servico</label>
                                </span>
                                <small class="ng-dirty ng-invalid" *ngIf="submitted && !ordemServico.servico">Campo
                                    Obrigatório.</small>
                            </div>
                            <div class="field col-6" style="padding-top: 15px;">
                                <span class="p-float-label">
                                    <input pInputText [(ngModel)]="ordemServico.codigo" formControlName="codigo"
                                        id="codigoId"
                                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !ordemServico.codigo}" />
                                    <label for="codigoId">Código de identificação</label>
                                </span>
                                <small class="ng-dirty ng-invalid" *ngIf="submitted && !ordemServico.codigo">Campo
                                    Obrigatório.</small>
                            </div>
                        </div>
                        <div class="formgrid grid">
                            <div class="field col-6" style="padding-top: 15px;">
                                <span class="p-float-label">
                                    <p-calendar name="dataOrcamento" inputId="dataOrcamentoId"
                                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !ordemServico.dataOrcamento}"
                                        formControlName="dataOrcamento" [(ngModel)]="ordemServico.dataOrcamento"
                                        [showTime]="false" [showIcon]="true"></p-calendar>
                                    <label for="dataOrcamentoId">Data do orçamento</label>
                                </span>
                                <small class="ng-dirty ng-invalid"
                                    *ngIf="submitted && !ordemServico.dataOrcamento">Campo
                                    Obrigatório.</small>
                            </div>
                            <div class="field col-6" style="padding-top: 15px;">
                                <span class="p-float-label">
                                    <p-calendar name="dataEntrega"
                                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !ordemServico.dataEntrega}"
                                        inputId="dataEntregaId" formControlName="dataEntrega"
                                        [(ngModel)]="ordemServico.dataEntrega" [showTime]="false"
                                        [showIcon]="true"></p-calendar>
                                    <label for="dataEntregaId">Data de entrega</label>
                                </span>
                                <small class="ng-dirty ng-invalid" *ngIf="submitted && !ordemServico.dataEntrega">Campo
                                    Obrigatório.</small>
                            </div>
                        </div>
                        <div class="formgrid grid">
                            <div class="field col-7" style="padding-top: 15px;">
                                <span class="p-float-label">
                                    <p-autoComplete
                                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !ordemServico.cliente}"
                                        formControlName="cliente" [suggestions]="filteredClientes"
                                        [(ngModel)]="ordemServico.cliente" [dropdown]="true" inputId="clienteId"
                                        (completeMethod)="filterClientes($event)" field="nome"></p-autoComplete>
                                    <label for="clienteId">Cliente</label>
                                </span>
                                <small class="ng-dirty ng-invalid" *ngIf="submitted && !ordemServico.cliente">Campo
                                    Obrigatório.</small>
                            </div>
                            <div class="field col-5" style="padding-top: 15px;">
                                <span class="p-float-label">
                                    <p-dropdown [(ngModel)]="ordemServico.formaPagamento"
                                        formControlName="formaPagamento" (onChange)="selecionaFormaDePagamento($event)"
                                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !ordemServico.formaPagamento}"
                                        inputId="formaPagamentoId" optionValue="label" [options]="formaPagamento"
                                        placeholder="Selecione">
                                        <ng-template pTemplate="selectedItem">
                                            <span
                                                *ngIf="ordemServico && ordemServico.formaPagamento">{{ordemServico.formaPagamento}}</span>
                                        </ng-template>
                                        <ng-template let-option pTemplate="item">
                                            <span>{{option.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                    <label for="formaPagamentoId">Forma de pagamento</label>
                                </span>
                                <small class="ng-dirty ng-invalid"
                                    *ngIf="submitted && !ordemServico.formaPagamento">Campo
                                    Obrigatório.</small>
                            </div>
                        </div>
                        <div class="formgrid grid">
                            <div class="field col-6" style="padding-top: 15px;">
                                <span class="p-float-label">
                                    <p-dropdown [(ngModel)]="ordemServico.status" formControlName="status"
                                        inputId="statusId"
                                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !ordemServico.status}"
                                        optionValue="label" [options]="statusServico" placeholder="Selecione">
                                        <ng-template pTemplate="selectedItem">
                                            <span *ngIf="ordemServico && ordemServico.status"
                                                [class]="'system-badge statusOrderService-' + ordemServico.status.toString().toLowerCase()">{{ordemServico.status}}</span>
                                        </ng-template>
                                        <ng-template let-option pTemplate="item">
                                            <span
                                                [class]="'system-badge statusOrderService-' + option.value.toString().toLowerCase()">{{option.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                    <label for="statusId">Status do serviço</label>
                                </span>
                                <small class="ng-dirty ng-invalid"
                                    *ngIf="submitted && !ordemServico.status">Campo Obrigatório.</small>
                            </div>
                            <div class="field col-6" style="padding-top: 15px;">
                                <span class="p-float-label">
                                    <p-dropdown [(ngModel)]="ordemServico.statusPagamento"
                                        formControlName="statusPagamento" optionValue="label"
                                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !ordemServico.statusPagamento}"
                                        inputId="statusPagamentoId" [options]="statusPagamento" placeholder="Selecione">
                                        <ng-template pTemplate="selectedItem">
                                            <span *ngIf="ordemServico && ordemServico.statusPagamento"
                                                [class]="'system-badge statusPagamento-' + ordemServico.statusPagamento.toString().toLowerCase()">{{ordemServico.statusPagamento}}</span>
                                        </ng-template>
                                        <ng-template let-option pTemplate="item">
                                            <span
                                                [class]="'system-badge statusPagamento-' + option.value.toString().toLowerCase()">{{option.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                    <label for="statusPagamentoId">Status do pagamento</label>
                                </span>
                                <small class="ng-dirty ng-invalid"
                                    *ngIf="submitted && !ordemServico.statusPagamento">Campo Obrigatório.</small>
                            </div>
                        </div>
                        <div class="formgrid grid">
                            <div class="field col-5" style="padding-top: 15px;">
                                <span class="p-float-label">
                                    <p-inputNumber [(ngModel)]="ordemServico.valor" mode="currency" currency="BRL"
                                        locale="pt-BR" formControlName="valorServico" inputId="valorServicoId"
                                        (ngModelChange)="calculaValorParcelasPorValor($event)"
                                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !ordemServico.valor}"></p-inputNumber>
                                    <label for="valorServicoId">Valor do serviço</label>
                                </span>
                                <small class="ng-dirty ng-invalid" *ngIf="submitted && !ordemServico.valor">Campo
                                    Obrigatório.</small>
                            </div>
                            <div class="field col" style="padding-top: 15px;">
                                <span class="p-float-label">
                                    <p-dropdown [(ngModel)]="ordemServico.qtdParcelas" formControlName="qtdParcelas"
                                        [ngClass]="{'ng-invalid ng-dirty' : submitted && this.formGroup.get('formaPagamento')?.value === 'Crédito' &&  !ordemServico.qtdParcelas}"
                                        optionValue="value" [options]="parcelas" inputId="qtdParcelasId"
                                        (onChange)="calculaValorParcelas($event)" placeholder="Selecione">
                                        <ng-template pTemplate="selectedItem">
                                            <span
                                                *ngIf="ordemServico && ordemServico.qtdParcelas">{{ordemServico.qtdParcelas}}</span>
                                        </ng-template>
                                        <ng-template let-option pTemplate="item">
                                            <span>{{option.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                    <label for="qtdParcelasId">Parcelas</label>
                                </span>
                                <small class="ng-dirty ng-invalid"
                                    *ngIf="submitted && this.formGroup.get('formaPagamento')?.value === 'Crédito' &&  !ordemServico.qtdParcelas">Campo
                                    Obrigatório.</small>
                            </div>
                            <div class="field col" style="padding-top: 15px;">
                                <span class="p-float-label">
                                    <p-inputNumber inputId="valorParcelaId" [(ngModel)]="ordemServico.valorParcela"
                                        mode="currency" currency="BRL" locale="pt-BR" formControlName="valorParcela"
                                        [ngClass]="{'ng-invalid ng-dirty' : submitted && this.formGroup.get('formaPagamento')?.value === 'Crédito' && !ordemServico.valorParcela}"></p-inputNumber>
                                    <label for="valorParcelaId">Valor da parcela</label>
                                </span>
                                <small class="ng-dirty ng-invalid"
                                    *ngIf="submitted && this.formGroup.get('formaPagamento')?.value === 'Crédito' && !ordemServico.valorParcela">Campo
                                    Obrigatório.</small>
                            </div>
                        </div>
                        <div class="formgrid grid">
                            <div class="field col" style="padding-top: 15px;">
                                <span class="p-float-label">
                                    <textarea id="observacao" pInputTextarea formControlName="observacao"
                                        [(ngModel)]="ordemServico.observacao" rows="7" cols="20"></textarea>
                                    <label for="observacao">Observações</label>
                                </span>
                            </div>
                        </div>
                    </form>
                </ng-template>
                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                        (click)="hideDialog()"></button>
                    <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text"
                        (click)="saveOrdemServico()"></button>
                </ng-template>
            </p-dialog>

            <p-dialog [(visible)]="deleteOrdemServicoDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span *ngIf="ordemServico">Deseja deletar a ordem de serviço: <b>{{ordemServico.codigo}}</b>?</span>
                </div>
                <ng-template pTemplate="footer">
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não"
                        (click)="deleteOrdemServicoDialog = false"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim"
                        (click)="confirmDelete()"></button>
                </ng-template>
            </p-dialog>

            <p-dialog [(visible)]="deleteOrdemServicosDialog" header="Confirme" [modal]="true"
                [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span>Deseja deletar todos os clientes selecionados?</span>
                </div>
                <ng-template pTemplate="footer">
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não"
                        (click)="deleteOrdemServicosDialog = false"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim"
                        (click)="confirmDeleteSelected()"></button>
                </ng-template>
            </p-dialog>
        </div>
    </div>
</div>