<div class="grid">
    <div class="col-12">
        <div class="card flex justify-content-lefth">
            <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
        </div>
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <div class="my-2 p-toolbar-group-left">
                    <button id="openNew" pButton pRipple label="Novo" style="width:160px" icon="pi pi-plus"
                        class="p-button-success mr-2" (click)="openNew()"></button>
                    <button id="deleteAll" pButton pRipple label="Deletar" style="width:160px" icon="pi pi-trash"
                        class="p-button-danger" (click)="deleteSelectedClientes()"
                        [disabled]="!selectedClientes || !selectedClientes.length"></button>
                </div>
                <div class="p-toolbar-group-right">
                    <p-button label="Exportar" icon="pi pi-file-excel" (click)="exportToExcel()"></p-button>
                </div>
            </p-toolbar>
            <p-table #dt [value]="clientes!" [columns]="cols" responsiveLayout="scroll" [rows]="10" [columns]="cols"
                [rowsPerPageOptions]="[10,20,30, 50]" [paginator]="true" [showCurrentPageReport]="true" [lazy]="true"
                [totalRecords]="totalRecords" (onLazyLoad)="page($event)"
                currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} registros"
                [(selection)]="selectedClientes" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gerenciamento de Clientes</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input id="pesquisa" pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                                placeholder="Pesquisar..." class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="nome">Nome<p-sortIcon field="nome"></p-sortIcon></th>
                        <th pSortableColumn="cpf">CPF<p-sortIcon field="cpf"></p-sortIcon></th>
                        <th pSortableColumn="email">Email<p-sortIcon field="email"></p-sortIcon></th>
                        <th pSortableColumn="celular">Contato<p-sortIcon field="celular"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cliente>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="cliente"></p-tableCheckbox>
                        </td>
                        <td style="width:25%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{cliente.nome}}
                        </td>
                        <td style="width:25%; min-width:10rem;">
                            <span class="p-column-title">CPF</span>
                            {{cliente.cpf}}
                        </td>
                        <td style="width:25%; min-width:10rem;">
                            <span class="p-column-title">Email</span>
                            {{cliente.email}}
                        </td>
                        <td style="width:25%; min-width:10rem;">
                            <span class="p-column-title">Celular</span>
                            {{cliente.celular}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editarCliente(cliente)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                    (click)="deleteCliente(cliente)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <p-dialog [(visible)]="clienteDialog" [style]="{width: '800px'}" header="{{titulo}}" [modal]="true"
                class="p-fluid">
                <ng-template pTemplate="content">
                    <form [formGroup]="formGroup">
                        <div class="formgrid grid">
                            <div class="field col" style="padding-top: 20px;">
                                <div class="form-group">
                                    <span class="p-float-label">
                                        <input pInputText id="nome" formControlName="nome" [(ngModel)]="cliente.nome"
                                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !cliente.nome}" />
                                        <label htmlFor="nome">Nome</label>
                                    </span>
                                    <small class="ng-invalid ng-dirty" *ngIf="submitted && !cliente.nome">Campo
                                        Obrigatório.</small>
                                </div>
                            </div>
                        </div>
                        <div class="formgrid grid">
                            <div class="field col" style="padding-top: 15px;">
                                <div class="form-group">
                                    <span class="p-float-label">
                                        <p-inputMask mask="999.999.999-99" id="cpf" formControlName="cpf"
                                            [(ngModel)]="cliente.cpf" placeholder="(99) 99999-9999"></p-inputMask>
                                        <label htmlFor="cpf">CPF</label>
                                    </span>
                                </div>
                            </div>
                            <div class="field col" style="padding-top: 15px;">
                                <div class="form-group">
                                    <span class="p-float-label">
                                        <p-inputMask mask="(99) 99999-9999" id="celular" formControlName="celular"
                                            placeholder="(99) 99999-9999" [(ngModel)]="cliente.celular"
                                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !cliente.celular}"></p-inputMask>
                                        <label htmlFor="celular">Celular</label>
                                    </span>
                                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !cliente.celular">Campo
                                        Obrigatório.</small>
                                </div>
                            </div>
                        </div>
                        <div class="formgrid grid">
                            <div class="field col" style="padding-top: 15px;">
                                <div class="form-group">
                                    <span class="p-float-label">
                                        <input pInputText id="email"
                                            [ngClass]="{'ng-invalid ng-dirty' : submitted && isEmailValid('email')}"
                                            formControlName="email" [(ngModel)]="cliente.email" />
                                        <label htmlFor="email">Email</label>
                                    </span>
                                    <small class="ng-invalid ng-dirty" *ngIf="isEmailValid('email')">Email
                                        Inválido.</small>
                                </div>
                            </div>
                        </div>
                    </form>
                </ng-template>

                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                        (click)="hideDialog()"></button>
                    <button pButton pRipple label="Salvar" icon="pi pi-save" class="p-button-text"
                        (click)="saveCliente()"></button>
                </ng-template>
            </p-dialog>

            <p-dialog [(visible)]="deleteClienteDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span *ngIf="cliente">Deseja deletar o cliente: <b>{{cliente.nome}}</b>?</span>
                </div>
                <ng-template pTemplate="footer">
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não"
                        (click)="deleteClienteDialog = false"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim"
                        (click)="confirmDelete()"></button>
                </ng-template>
            </p-dialog>

            <p-dialog [(visible)]="deleteClientesDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span>Deseja deletar todos os clientes selecionados?</span>
                </div>
                <ng-template pTemplate="footer">
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não"
                        (click)="deleteClientesDialog = false"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim"
                        (click)="confirmDeleteSelected()"></button>
                </ng-template>
            </p-dialog>
        </div>
    </div>
</div>